@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Roboto&family=Sofia&display=swap');

:root{
    --light-gray:#2b3032a1;
    --primary-color:#45ccb8;
    --border:#2b303218;
    --text-color:#ff686b;
    --roboto:"Roboto",sans-serif;
    --gugi:"Gugi",cursive;
    --sofia:"Sofia",cursive;
}
.about-us{
    margin: 2px;
    padding: 2px;
    background: url(/assets/background.jpg) no-repeat;
    background-size: cover;
    background-position: center ;

}

.about-us p{
    margin: 5px;
    padding: 0 5px;
    text-align: center;
    font-size: 25px;
    font-family: var(--roboto);
    color: black;
}

.about-us h1{
    margin-top: 10px;
    font-family: var(--gugi);
    color:black;
    text-align: center;
}

.video-sec h4{
    font-family: var(--roboto);
    text-align: center;
}

.video-sec{
    margin-left: 5px;
}